<div id="<%= dom_id event %>">
  <p>

  <p>
    <strong>Start date:</strong>
    <%= event.start_date %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= event.duration %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= event.price %>$
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <%= link_to user_path(event.organizer) do %>
    <strong>Organisateur :</strong>
    <%= event.organizer.first_name || event.organizer.email %>
    <% end %>
  </p>

</div>
